################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/workload-install.ps1
/__pycache__
/handlers/__pycache__
